<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='galleryEditor.css') }}">
    <title>Gallery editor</title>
</head>
<body>
    <h1>{{ gallery.name }}</h1>
    <p>{{ gallery.description }}</p>
    <br>
    <h2>Add Photo to {{ gallery.name }}</h2>
    <form method="POST" enctype="multipart/form-data">
        <input type="hidden" name="upload_photo" value="1">
        <input type="text" name="name" placeholder="Photo Title" required><br><br>
        <textarea name="description" placeholder="Photo Description"></textarea><br><br>
        <input type="file" name="file" accept="image/*" required><br><br>
        <button type="submit">Upload Photo</button>
    </form>
    <hr>
    <h2>Photos</h2>
    <form method="POST" action="{{ url_for('editGallery', id=gallery.id) }}">
        <input type="hidden" name="save_changes" value="1">
        <button type="submit">Save changes</button><br><br>
        {% for image in images %}   
            <img src="{{ url_for('static', filename=image.filename) }}" width="200"><br>
            <input type="text" name="name_{{ image.id }}" value="{{ image.name }}"><br>
            <textarea name="description_{{ image.id }}">{{ image.description }}</textarea><br>
            <label>Thumbnail </label>
            <input type="radio" name="thumbnail" value="{{ image.id }}" {% if gallery.thumbnailFilename == image.filename %}checked{% endif %}><br>
            <button type="submit" name="delete_{{ image.id }}" value="1">Delete</button>
            <hr>
        {% endfor %}
    </form>
</body>
</html>